:root {
  --border-color: #222222;
  --background-color: #3d3d3d;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.flow {
  content: url("https://cdn.glitch.global/45a903ea-a07c-4016-9a65-324856c41c4b/davinci.png?v=1679319011133");
  height: 20px;
}

.wrapperDiv {
  background-color: var(--background-color);
  width: 700px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--border-color);
}

input[type=text] {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 3px;
}

#palettePanelDiv {
  background-color: whitesmoke;
  border: 2px solid var(--border-color);
  padding: 10px;
  border-radius: 5px;
}

td {
  padding-right: 10px;
  padding-bottom: 5px
}

button.cssAction {
  border: none;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #464646;
  color: #464646;
  padding: 2px 5px;
  font-size: 13px;
  cursor: pointer;
  width: 140px;
  height: 28px;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}

button.cssAction+button.cssAction {
  margin-left: 15px;
}

button.cssAction:hover {
  border-color: #4169e1;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

button.cssActionActive {
  background-color: #9dc967;
}